{% extends 'edit_html/layout.html' %}

{% block title %}edit_html{% endblock %}

{% block header %}HTML の取得 / 編集{% endblock %}

{% block content %}
<h2 class="fw-bold">指定したタグやクラス、ID に特定の属性を書き込む</h2>
<form action="{% url 'result' %}" method="post">
    {% csrf_token %}
    <table class="table">
        <!-- colgroup ならすべての行に適用される -->
        <colgroup>
            <col class="w-25">
            <col class="w-75">
        </colgroup>

        {{ arrange_form.as_table }}
        <th>
            <td>
                <input type="submit" value="アレンジして表示する" class="btn btn-primary mt-2" name="arrange-later">
            </td>
        </th>
    </table>
</form>

<div class="accordion mb-3" id="accordion">
    <div class="accordion-item">
        <div class="accordion-header" id="headingOne">
            <h5 class="mb-0">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    style 属性の書き方
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
            <div class="accordion-body">
                <p>（文字の色を設定する）color: red;　または　color: #FF0000;</p>
                <p>（背景の色を設定する）background-color: blue;　または　background-color: #0000FF;</p>
                <p>（文字の大きさを設定する）font-size: 16px;　または　font-size: 1rem;</p>
                <p>（文字の太さを設定する）font-weight: 100;　または　font-weight: bold;</p>
            </div>
        </div>
    </div>  
</div>

<h2 class="fw-bold">URL から取得した HTML データ</h2>
<pre class="p-3 rounded" style="background-color: #b6b6b6;">
    <code>
        {{ html_code }}
    </code>
</pre>
{% endblock %}